body {
  background-image: url('https://drive.google.com/uc?id=1Sftfr2cJQY0Ga1Li90ZqQu5SGYJPNkkJ');
}

.header_logo {
  padding: 30px;
}

.header_image img {
  max-width: 50%;
  margin: 0 auto;
}

.header_list li{
  padding: 30px;
  list-style: none;
  float: left;
}
